* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-template: 1.5em repeat(5, minmax(2em, 10em));
    --grid-span-6: span 6;
    --h3-font-size: clamp(.8rem, 2vw, 2.5rem);
}

.grid-table {
    display: grid;
    gap: 2em;
    grid-template-columns: var(--grid-template);
    justify-content: center;
    justify-items: center;
    margin: 3em 2em;
}

h3 {
    font-size: var(--h3-font-size);
}

.button {
    grid-column: var(--grid-span-6);
    justify-self: center;
}

.button * {
    margin-right: 1.5em;
    padding: 1em;
}

.data {
    grid-column: var(--grid-span-6);
    display: grid;
    gap: 2em;
    grid-template-columns: var(--grid-template);
}

input:not(.user-ID) {
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus {
    outline: none;
}

.user-ID {
    justify-self: center;
}

@media (max-width: 540px) {
    .button * {
        margin-right: .5em;
        padding: .5em;
    }
}