#user-form {
    width: 1200px;
}

.grid-table{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1rem repeat(5, 1fr);
    justify-content: space-between;
    margin-top: 20px;
}

h3 {
    font-size: 1.5rem;
}

.button {
    grid-column: 1/7;
    margin-top: 20px;
}

.button *{
    margin-right: 20px;
    padding: .7rem;
}

.data {
    grid-column: 1/7;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1rem repeat(5, 1fr);
}

input:not(.user-ID){
    border-top: none;
    border-left: none;
    border-right: none;
    width: auto;
}

input:focus {
    outline: none;
}

.user-ID {
    border: none;
}